<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>

  <body>
    <div style="float: right">
        <form method="GET" action="/">
            <p><input type="submit" value="Home"></p>
        </form>
      <form method="GET" action="/logout">
        <p><input type="submit" value="Logout"></p>
      </form>
    </div>
    <h1>Rentals</h1>
    <h2>Current requests:</h2>
    <div>
        <table style="width:500px">
            <tr>
                <th>User</th>
                <th>Address</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Message</th>
            </tr>
            {% for request in requests %}
            <tr>
                <td>{{request[0]}}</td>
                <td>{{request[1]}}</td>
                <td>{{request[2]}}</td>
                <td>{{request[3]}}</td>
                <td>{{request[4]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
  </body>
</html>
