<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>

  <body>
    <div style="float: right">
        <form method="GET" action="/">
            <p><input type="submit" value="Home"></p>
        </form>
      <form method="GET" action="/logout">
        <p><input type="submit" value="Logout"></p>
      </form>
    </div>
    <h1>Rentals</h1>
    <h2>Available rentals:</h2>
    <div>
      <table style="width:500px">
          <tr>
              <th>Location</th>
              <th>User</th>
              <th>Rating</th>
              <th>Comment</th>
          </tr>
          {% for review in reviews %}
          <tr>
              <td>{{review[0]}}</td>
              <td>{{review[1]}}</td>
              <td>{{review[2]}}</td>
              <td>{{review[3]}}</td>
          </tr>
          {% endfor %}
      </table>
    </div>
    <br>
  </body>
</html>
