<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Signup Page</h1>

<div>
  <form method="POST" action="/signupreq">
      <p>Email: <input type="text" name="email"></p>
      <p>Password: <input type="password" name="password"></p>
      <p>Name: <input type="text" name="name"></p>
      <p>Profile Picture URL: <input type="text" name="profilepic"></p>
      <p>Home ID: <input type="text" name="home"></p>
      <p><input type="submit" value="Create account"></p>
  </form>
</div>
</body>


</html>
