<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>

  <body>
    <div style="float: right">
        <form method="GET" action="/">
            <p><input type="submit" value="Home"></p>
        </form>
      <form method="GET" action="/logout">
        <p><input type="submit" value="Logout"></p>
      </form>
    </div>
    <h1>Your trips</h1>
    <h2>Current trips:</h2>
    <div>
        <table style="width:500px">
            <tr>
                <th>Trip ID</th>
                <th>Start Date</th>
                <th>End Date</th> 
                <th>Location Name</th>
            </tr>
            {% for trip in upcoming_trips %}
            <tr>
                <td>{{trip[0]}}</td>
                <td>{{trip[1]}}</td>
                <td>{{trip[2]}}</td>
                <td>{{trip[3]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <br>

    <h2>Previous trips:</h2>
    <div>
        <table style="width:500px">
            <tr>
                <th>Trip ID</th>
                <th>Start Date</th>
                <th>End Date</th> 
                <th>Location Name</th>
                <th>Review Location</th>
            </tr>
            {% for trip in previous_trips %}
            <tr>
                <td>{{trip[0]}}</td>
                <td>{{trip[1]}}</td>
                <td>{{trip[2]}}</td>
                <td>{{trip[3]}}</td>
                <td><form method="GET" action="/review/{{trip[4]}}/{{trip[3]}}">
                    <p><input type="submit" value="Review location" {% if trip[5] %} disabled {% endif %}></p>
                </form></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <br>

    <h2>Create a new trip!</h2>
    <div> 
        <form method="POST" action="/tripreq">
            <p>Start Date (YYYY-MM-DD): <input type="text" name="start"></p>
            <p>End Date (YYYY-MM-DD): <input type="text" name="end"></p>
            <p>Location ID: <input type="text" name="location"></p>
            <p><input type="submit" value="Create trip!"></p>
        </form>
    </div>

    <br>

    <h2>Join a friend's trip!</h2>
    <div> 
        <form method="POST" action="/tripjoinreq">
            <p>Trip ID: <input type="text" name="trip"></p>
            <p><input type="submit" value="Join trip!"></p>
        </form>
    </div>

    <br>

    <h2>Leave a trip!</h2>
    <div> 
        <form method="POST" action="/tripleavereq">
            <p>Trip ID: <input type="text" name="trip"></p>
            <p><input type="submit" value="Leave trip :("></p>
        </form>
    </div>

    <br>
  </body>
</html>
